<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="GilCar_CN" connectionString="Data Source=SHLOMOSQL;Initial Catalog=GilCar;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>-->
	  <add name="GilCar_CN" connectionString="Server=SRV-SAP-10;Database=SAP_CRM;User Id=intoitCRM; Password=Aa123456;"></add>
	  <!--<add name="CRM_Online" connectionString="AuthType=Office365;Url=https://gil-car.crm4.dynamics.com; Username=intoit@gil-car.co.il;Password=89Gil567;"/>-->
	  <add name="CRM_Online" connectionString="AuthType=OAuth;Username=intoit@gil-car.co.il; Password=89Gil567;Url=https://gil-car.crm4.dynamics.com;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d; RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;LoginPrompt=Auto" />

  </connectionStrings>
  <appSettings>
    <!--<add key="LogFilePath" value="C:\LogForCRM\"/>-->
    <add key="UserName" value="intoit@gil-car.co.il" />
    <add key="Password" value="89Gil567" />
    <add key="CRM_Url" value="https://gil-car.crm4.dynamics.com" />
    <add key="Email_Url" value="https://gil-car.crm4.dynamics.com/crmreports/viewer/viewer.aspx?id=%7bA3A77004-7901-E711-80F5-FC15B426FF90%7d" />
    <add key="SenderUserId" value="533C34C6-ED5C-E811-8130-E0071B6E7781" />
    <add key="subject" value="פניות של תל אביב שנותרו פתוחות + לוג שגויים בממשק" />
    <!--<<add key="ToRecipientEmailAddress" value="kabala2@gil-car.co.il;"/>-->
    <add key="ToRecipientEmailAddress" value="Asafb@into-it.co.il;" />
    <add key="uom" value="E712346A-275E-44D7-8CEB-D0C01E3422D5" />
    <add key="uomschedule" value="D3F5A989-246F-4383-9DAC-8EB7DC49CA0D" />
    <add key="LogPath" value="D:/Crm.Interfaces/CloseCases/CloseCases/bin/Debug/logs/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
