<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>

		<add name="GilCar_CN" connectionString="Server=SRV-SAP-10;Database=SAP_CRM;User Id=intoitCRM; Password=Aa123456;Connect Timeout=15"></add>
		<!--<add name="CRM_Online" connectionString="AuthType=Office365;Url=https://gil-car.crm4.dynamics.com; Username=intoit@gil-car.co.il;Password=89Gil567;"/>-->
		<!--add name="CRM_Online" connectionString="AuthType=OAuth;Username=intoit@gil-car.co.il; Password=89Gil567;Url=https://gil-car.crm4.dynamics.com;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d; RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;LoginPrompt=Auto" />-->
		<add name="CRM_Online" connectionString="AuthType=ClientSecret;
			 Url=https://gil-car.crm4.dynamics.com;
			 ClientId =2f4995e4-1ff6-41f2-975f-e9195d1f914c;
			 ClientSecret =CKP8Q~gH-6W131LxUydsaMbqRztCzMo7xH15VasI" />
	</connectionStrings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<appSettings>
		<add key="UserName" value="intoit@gil-car.co.il" />
		<add key="Password" value="89Gil567" />
		<add key="CRM_Url" value="https://gil-car.crm4.dynamics.com" />
		<add key="ToRecipientEmailAddress" value="raz.m@gil-car.co.il;Stella.p@gil-car.co.il;" />
		<add key="ToRecipientEmailAddress_2" value="raz.m@gil-car.co.il" />
		<!-- <add key="SenderUserId" value="45EC54B4-2CA7-E511-80D9-6C3BE5BEEE0C"/> -->
		<add key="SenderUserId" value="533C34C6-ED5C-E811-8130-E0071B6E7781" />

		<add key="from" value="1" />
		<add key="to" value="10000000" />
		<add key="from_2nd_run" value="1" />
		<add key="to_2nd_run" value="100000000" />
		<add key="from_3rd_run" value="1" />
		<add key="to_3rd_run" value="100000000" />
		<add key="from_4th_run" value="1" />
		<add key="to_4th_run" value="100000000" />
		<add key="firstrun" value="true" />
		<add key="secondrun" value="true" />
		<add key="thirdrun" value="true" />
		<add key="fourthrun" value="true" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
